html, body {
  width: 200px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.status:hover {
  background-color: #CFF2F2;
}

.status {
  background-color: #E5F2F2;
}

.disable {
  background-color: #FBFBC9;
}

.disable:hover {
  background-color: #EAEA9D;
}
